<!DOCTYPE html>
<html lang="fr">
<head>
    {% block general_metadata %}
        {{ include('partials/SEO/general_metadata.html.twig') }}
    {% endblock %}

    <title>{% block title %}Thomas Gharbi - Développeur Web Back-end Expert Symfony/PHP{% endblock %}</title>

    <link rel="canonical" href="{{ app.request.uri }}">
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">

    {% block structured_data %}
        {{ include('partials/SEO/structured_data.html.twig') }}
    {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
